@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Cinzel', serif;
}

* {
  box-sizing: border-box;
}